.menu {
  position: absolute;
  inset-block-start: 100%;
  z-index: 1;

  inline-size: 100%;
  max-block-size: 500px;
  padding-inline-start: 0;

  font-size: 13rem;

  background-color: var(--color-white);
  border: 1px solid var(--input-borderColor);
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.08);
  list-style: none;
  overflow: auto;
}

.menu__item {
  display: block;
  inline-size: 100%;
  min-block-size: 25px;
  padding: 5px;

  text-align: start;

  cursor: pointer;
  border: none;
  background: none;
}

.menu__item--focus {
  background-color: var(--hover);
}

.menu__item--placeholder {
  color: #999;
}