.object {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
}

.object__header {
  grid-column: 1 / -1;
}

.object__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.object__aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}