.select {
  position: relative;
}

.select__inputWrapper {
  position: relative;

  display: flex;
}

.select__input {
  font-size: inherit;
  cursor: default;

  font-size: 13rem;
}

.select__input--isAutocomplete {
  cursor: text;
}

.select--disabled .select__input--isAutocomplete {
  cursor: default;
}

.select__btn {
  position: absolute;
  inset-block: 2px;
  inset-inline-end: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  block-size: calc(100% - 4px);
  padding-inline: 5px;
  aspect-ratio: 1 / 1;

  background: var(--color-white);
  border: none;
  border-inline-end: 1px solid var(--input-borderColor);
}

.select__btn:disabled {
  background: var(--disabled-bgColor);
  cursor: default;
}

.select__btn--arrow {
  pointer-events: none;
}

.select__icon {
  inline-size: 18px;
  block-size: 18px;
}