.objectView {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
}

.objectView__header {
  grid-column: 1 / -1;
}

.objectView__aside {
  grid-column: 2;
}

.objectView__main {
  grid-row: 2;
}

.objectView__photo {
  aspect-ratio: 565 / 350;
  object-fit: cover;
}

.objectView__childLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.objectView__childPhoto {
  aspect-ratio: 178/120;
  object-fit: cover;
}