.catalog {
  display: grid;
  grid-template-columns: 250px 645px;
  gap: 10px;
}

.catalog--map {
  grid-template-columns: 250px 645px 1fr;
}

.catalog__map {
  min-block-size: calc(100vh - 46px - 39px - 10px);
}