.pageHeader {
  color: var(--color-white);

  background-color: var(--color-brand);
}

.pageHeader:not(:has(~ .searchPanel)) {
  /* margin-block-end: 15px; */
}

.pageHeader__container {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  gap: 20px;
}

.pageHeader__link {
  color: var(--color-white);
}
