.desc__content {
  white-space: pre-wrap;
}

.desc__content--short {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc__btn {
  padding: 0;
  font: inherit;
  color: var(--fontColor-lighter);

  border: none;
  background: none;
  cursor: pointer;
}